
body{
    background-color: #eee2df;
    /* to change the background color */
}
.start{
    width: 100vw;
    width: 1650px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,0);
     /* Modify the layout and size of the beginning */
}
.banner{
    width: 1650px;
}
 /* Modify the size of the banner to make it look neat */
.select{
    text-align: center;
    margin: 20px 0;
    font-family: Monospace;
    font-size: 50px;
    text-shadow: 5px 5px 5px #f3e8e8;
    border:10px dashed  rgb(255, 252, 255);
    background-color: blanchedalmond; 
    /* Design the text, design the border and modify the color by code */
}

.Introduction{
    font-family: Monospace;
}

.Introduction h2{
    margin: 20px 0;
}

.before{
    width: 950px;
    padding-left: 400px;
}

.btn{
    padding-left: 0;
    display: flex;
    justify-content: center;
   
}


.btn-item{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    border-radius: 5px;
}
.tip-item-wrap{
    height: 10px;
}   
.tip-item-wrap p{
    display: none;
    font-size: 15px;
}
.btn button{
    height: 250px;
    width: 250px;
}
.btn button img{
    height: 100%;
    width: 100%;
}


button:hover {background-color: white}
button:active {
  background-color: #ffe6f9;
  box-shadow: 0 10px rgb(241, 173, 173);
  /* Keystroke effects by css */
} 

.choose{
    text-align: center;
    margin: 20px 0;
    font-family: Monospace;
    font-size: 50px;
    text-shadow: 5px 5px 5px #f3e8e8;
    border:10px dashed  rgb(255, 252, 255);
    background-color: blanchedalmond; 
    margin-top: 200px;
}

#go {
    font-size: 70px;
    color: rgb(240, 212, 151);
    animation-name: colourchange;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    margin-top: 200px;
 /* Set the layout, color and animation of the text */
}

@keyframes colourchange {
    0% {color: rgb(206, 138, 223); padding-left:0vw;}
    25% {color: pink; padding: left 40px;}
    50% {color: pink; padding-left:40vw;}
    75% {color: rgb(206, 138, 223); padding-left:0vw;}
  /* Make my text move and change color through css */
}

